h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 3vw;
}

h2{
    font-size: 1vw;
    font-weight: 100;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 6vw;
}

h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 2vw;
}

.roll{
    position:fixed;
    top:1vw;
    right: 1vw;
    left:1vw;
}

.title{
    margin-left: 38vw;
    margin-right: 30vw;
    margin-top: 10vw;
}

img{
    margin-top: 5vw;
    margin-left: 27.5vw;
    height: 25vw;
    border: solid 2px;
}