h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    font-family: 100;
    color: black;
}

marquee{
    height: auto;
    position: fixed;
    margin-left: 25vw;
    margin-top: 1.5vw;
    text-shadow: 3px 3px 2px rgb(129, 166, 197);
    -webkit-marquee-speed: slow;
}

.canvas{
    height: 38vw;
    width: 56vw;
    position: fixed;
    margin-left: 22vw;
    margin-top: 10vw;
    background-color:white;
    box-shadow: 10px 10px 20px rgb(129, 166, 197);
}

img{
    height: 15vw;
}

#pngs{
    margin-left: 2vw;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    margin-left: 50vw;
    z-index: 2;
    
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }