@font-face {
    font-family: 'EB Garamond', serif;
    src: url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@100&display=swap');
    font-weight: 300;
    font-display: swap;

}

img {
    height: 30ch;
}

h1 {
    color: white;
    background-color: black;
    padding: 3ch;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

h2{
    font-family:'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
}

body{
    margin:0%;
}

main {
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 5vw;
}

p {
    font-family:'Raleway', sans-serif;
    font-weight: 200;
}

li {
    color: rgb(85, 85, 85);

}

.italic {
    font-style:italic;
    color:gray;
    text-align: center;
    padding: 5vh;

}

ul,
ol{
    font-family:'Raleway', sans-serif;
    font-weight: 100;
    padding-left: 2em;
}