body{
    margin: 0%;
}

main{
    margin: 2vw;
}

#weapons {
    margin-bottom: 1rem;
    border: 1px solid black; 
    padding: 1rem; 
}

#header {
    color: white;
    background-color: black;
    padding: 3ch;
}

h1 {
    font-family: 'EB Garamond';
    font-weight: bold;
    margin: 0%;
}