.example {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}
.example p {
  margin: 0;
}
.logo {
  box-sizing: border-box;
  border-radius: 50px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgb(0, 0, 0);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.logo .word {
  text-transform: uppercase;
}
.logo .word .main-letter {
}
.logo .word .remaining-word {
  display: none;
}
.reverse {
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
@media screen and (min-width: 768px) {
  .example {
    font-size: 3rem;
  }
  .logo {
    padding: 0 0.5rem;
    border: 4px solid black;
    border-radius: 50px;
  }
  #heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgb(0, 0, 0);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
}
@media screen and (min-width: 1200px) {
  .example {
    font-size: 4rem;
  }
  .logo {
    padding: 0.5rem 1rem;
    border: 8px solid black;
    border-radius: 50px;
  }
  .logo .word {
    padding-right: 0.8ch;
  }
  .logo .word:last-child {
    padding-right: 0;
  }
  .logo .word .remaining-word {
    display: inline-block;
  }
  .reverse {
    display: inline-block;
    -moz-transform: initial;
    -webkit-transform: initial;
    -o-transform: initial;
    -ms-transform: initial;
    transform: initial;
  }
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
}